div{
    display: flex;
}
.box1{
    background-color: aqua;
    border: 2px solid black;
    height: 100px;
    margin: 10px 10px 10px 10px;
}
.box2{
    background-color: aquamarine;
    border: 2px solid black;
    width: 150px;
    height: 100px;
    margin: 10px 10px 10px 10px;
}
.box3{
    background-color: blue;
    border: 2px solid black;
    margin: 10px 10px 10px 10px;
    width: 1500px;
}
.box4{
    background-color: blueviolet;
    border: 2px solid black;
    width: 150px;
    height: 100px;
    margin: 10px 10px 10px 10px;
}
.box5{
    background-color: brown;
    border: 2px solid black;
    margin: 10px 10px 10px 10px;
    width: 1500px;
}



div{
    display: flex;
}
.A1{
    background-color: chartreuse;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 20px 20px 20px 20px;
}
.A2{
    background-color: yellowgreen;
    border: 2px solid black;
    width: 1500px;
    height: 80px;
    margin: 20px 20px 20px 20px;
}
.A3{
    background-color: aqua;
    border: 2px solid black;
    width: 168px;
    height: 450px;
    margin: 20px 20px 20px 20px;
}
.A4{
    background-color: aquamarine;
    border: 2px solid black;
    width: 1070px;
    height: 450px;
    margin: 20px 20px 20px 20px;
}
.A5{
    background-color: antiquewhite;
    border: 2px solid black;
    width: 150px;
    height: 450px;
    margin: 20px 20px 20px 20px;
}
.A6{
    background-color: bisque;
    border: 2px solid black;
    width: 1500px;
    height: 100px;
    margin: 20px 20px 20px 20px;
}


.toop{
    display: flex;
}
img{
    width: 300px;
    height: 300px;
}
.B1{
    background-color: aqua;
    border: 2px solid black;
    width: 350px;
    height: 600px;
    margin: 40px 40px 40px 40px;
}
.B2{
    background-color: aquamarine;
    border: 2px solid black;
    width: 350px;
    height: 600px;
    margin: 40px 40px 40px 40px;
}
.B3{
    background-color: bisque;
    border: 2px solid black;
    width: 350px;
    height: 600px;
    margin: 40px 40px 40px 40px;
}
.B4{
    background-color: blanchedalmond;
    border: 2px solid black;
    width: 350px;
    height: 600px;
    margin: 40px 40px 40px 40px;
}